.first {
  background-color: #1F2937;
}

.top {
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

ul {
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.link {
}

.hero {
}

.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  background-color: #3882f6;
  color: white;
  border: none;
  border-radius: 3px;
  width: 75px;
  height: 25px;
}

.hero-right {
  background-color: grey;
  color: white;
}

.second {
}

.top-second {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.bottom-second {
}

.image-holder-second {
  border: 0.2rem;
  border-style: solid;
  border-radius: 0.5rem;
  color: #3882f6;
}

.text-holder-second {
  color: grey;
}

.texts-holder-second {
}

.third {
  background: #E5E7EB;
}

.signature-third {
  font-size: 18px;
  font-weight: bold;
}

.quote-third {
  font-size: 36px;
  font-weight: light;
  font: Italic;
  color: #1F2937;
}