body {
  margin: 0;
}

.first {
  background-color: #1F2937;
  padding-bottom: 4rem;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 1rem 7rem 3rem 7rem;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.top-links {
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding: 1rem 7rem 2rem 7rem;
}

.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  width: 20rem;
  line-height: 2.8rem;
  margin-bottom: 0.5rem;
}

.hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
  width: 25rem;
  margin-bottom: 0.5rem;
}

button {
  background-color: #3882f6;
  color: white;
  border: none;
  border-radius: 3px;
  width: 85px;
  height: 25px;
}

.hero-right {
  background-color: grey;
  color: white;
  width: 30rem;
  text-align: center;
  padding: 5rem 0 5rem 0;
}

.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 3rem 0;
}

.top-second {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  padding-bottom: 1rem;
}

.images-second {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.image-holder-second {
  border: 0.2rem;
  border-style: solid;
  border-radius: 0.5rem;
  color: #3882f6;
  width: 8rem;
  height: 8rem;
}

.text-holder-second {
  color: grey;
  width: 9rem;
  text-align: center;
}

.texts-holder-second {
  display: flex;
  justify-content: center;
  gap: 2.3rem;
}

.third {
  background: #E5E7EB;
}

.signature-third {
  font-size: 18px;
  font-weight: bold;
}

.quote-third {
  font-size: 36px;
  font-weight: light;
  font: Italic;
  color: #1F2937;
}