body {
  margin: 0;
  overflow-x: hidden;
}

.first {
  background-color: #1F2937;
  padding-bottom: 4rem;
}

.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 7rem 3rem 7rem;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.top-links {
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 7rem 2rem 7rem;
}

.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  width: 20rem;
  line-height: 2.8rem;
  margin-bottom: 0.5rem;
}

.hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
  width: 25rem;
  margin-bottom: 0.5rem;
}

button {
  background-color: #3882f6;
  color: white;
  border: none;
  border-radius: 3px;
  width: 85px;
  height: 25px;
}

.hero-right {
  background-color: grey;
  color: white;
  width: 30rem;
  text-align: center;
  padding: 5rem 0 5rem 0;
}

.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 3rem 0;
}

.top-second {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  padding-bottom: 1rem;
}

.bottom-second {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.image-holder-second {
  border: 0.2rem;
  border-style: solid;
  border-radius: 0.5rem;
  color: #3882f6;
  width: 8rem;
  height: 8rem;
}

.text-holder-second {
  color: grey;
  width: 9rem;
  text-align: center;
}

.texts-holder-second {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.3rem;
}

.third {
  background: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0 3rem 0;
}

.texts-third {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 45rem;
}

.quote-third {
  font-size: 36px;
  font-weight: light;
  font: Italic;
  color: #1F2937;
}

.signature-third {
  font-size: 18px;
  font-weight: bold;
  align-self: flex-end;
}

.fourth {
  display: flex;
  justify-content: center;
  padding: 3rem 0 3rem 0;
}

.container-fourth {
  display: flex;
  background-color: #3882f6;
  max-width: 48rem;
  padding: 4rem 5rem 4rem 5rem;
  border-radius: 1rem;
  gap: 15rem;
}

.left-fourth {
}

.call-fourth {
  color: white;
  font-size: 26px;
  font-weight: bold;
}

.sign-up-text-fourth {
  color: white;
}

.right-fourth {
  margin-top: 1rem;
}

.sign-up-button-fourth {
  border-color: white;
  border-style: solid;
  border-radius: 0.5rem;
  border-width: 0.15rem;
  width: 7rem;
  height: auto;
}

footer {
  display: flex;
  background-color: #1F2937;
  padding: 1.5rem 0 1.5rem 0;
  color: #F9FAF8;
  font-size: 0.8rem;
  justify-content: center;
}